@import "../components/typography";
@import "../components/colors";

.page--home{
    .section{
        &--hero{
            width: 100%;
            height: 38rem;
            padding-block: 90px;
            padding-top: 122px;

            background-position: center;
            background-size: cover;
            background-image: url('../images/home-hero-img.png');
            // background-attachment: fixed;

            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;

            h1{
                text-align: center;
                max-width: 850px;

                @media(max-width: 992px) {
                    max-width: 660px;
                }
            }
            p{
                text-align: center;

                @media(max-width: 992px) {
                    max-width: 560px;
                }
            }
            &__inp{
                position: relative;
                


                input{
                    width: 450px;
                    padding: 14px 105px 14px 20px;
                    font-size: 14px;
                    border-radius: 120px;


                    &::placeholder{
                        color: $color-gray;
                        font-size: 14px;
                    }




                }
                button{
                    position: absolute;
                    right: 5px;
                    transform: translateY(-50%);
                    top: 50%;
                    padding: 13px 22px 13px 22px;
                    font-size: 14px;
                    border-radius: 120px;

                    background-color: $color-primary;
                    color: $color-dark;
                    font-weight: 500;
                    line-height: 100%;
                }
            }
        }
    }
}