@import "../components/typography";
@import "../components/colors";

.page--home{
    .section{
        &--hero{
            width: 100%;
            height: 38rem;
            padding-block: 90px;
            padding-top: 122px;

            background-position: center;
            background-size: cover;
            background-image: url('../images/home-hero-img.png');
            // background-attachment: fixed;

            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;

            h1{
                text-align: center;
                max-width: 850px;

                @media(max-width: 992px) {
                    max-width: 660px;
                }
            }
            p{
                text-align: center;

                @media(max-width: 992px) {
                    max-width: 560px;
                }
            }
            &__inp{
                position: relative;
                
                input{
                    width: 450px;
                    padding: 14px 140px 14px 20px;
                    font-size: 14px;
                    border-radius: 120px;
                    position: relative;
                    z-index: 2;
                    &::placeholder{
                        color: $color-gray;
                        font-size: 14px;
                    }




                }
                button{
                    position: absolute;
                    right: 5px;
                    transform: translateY(-50%);
                    top: 50%;
                    padding: 13px 22px 13px 22px;
                    font-size: 14px;
                    border-radius: 120px;
                    z-index: 2;
                    background-color: $color-primary;
                    color: $color-dark;
                    font-weight: 400;
                    line-height: 100%;
                }
                .sh-inp-lists{
                    width: 450px;
                    // max-height: 200px;
                    background-color: #fff;
                    position: absolute;
                    top: 21px;
                    z-index: 1;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                    padding-top: 35px;
                    // padding-bottom: 10px;
                    display:none;

                    ul{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-height: 180px;
                        // padding-top: 40px;
    
                        overflow-y: auto;
                        
                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                            
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $color-primary;
                            border-radius: 6px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: $color-primary;
                        }

                        
                        li{
                            width: 100%;
                            a{
                                display: block;
                                width: 100% !important;
                                // background-color: #ffdede;
                                padding: 6px 10px;
                                font-size: 14px;
                                color: $color-dark;
                                text-decoration: none;
                                
                                &:hover{
                                    background-color: $color-secondary;
                                    color: $color-dark;
                                }
                            }
                        }
                        p{
                            margin: 0;
                            font-size: 12px;
                            color: $color-gray;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}