@import "../components/typography";
@import "../components/colors";

.page--services-detail{
    .section{
        &--list{
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            gap: 3rem;
            margin-bottom: 3rem;
            padding-top: 30px;
            padding-bottom: 40px;
            height: 100vh;
            // height: fit-content;
            .psd-sl-category {
                width: 370px; 
                // height: 160rem; 

                
                &__head{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a{
                        font-size: 12px;
                        color: $color-dark;
                        font-weight: 400;
                        // text-decoration: none;
                        line-height: 110%;
                    }
                    .s-act-link{
                        opacity: .55;
                    }
                }
                &__side{
                    padding: 10px 0px;
                    // margin-top: 3px;
                }
                &__rcon{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .psdslcr-box{
                        width: 100%;
                        height: 90px;
                        border: 1px solid #DADADA;
                        border-radius: 6px;
                        padding: 12px;

                        &__head{

                        }
                        &__text{

                        }
                    }
                }
            }   
            .psd-sl-sdetail{

            }
            @media (max-width: 992px) {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}















