@import "../components/typography";
@import "../components/colors";

.login-page{
    height: 100vh;

    &__bg{
        width: 100%;
        height: 13rem;
        background-image: url('../images/bg.png');
        background-position: 50% 75%;
        background-size: cover;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                #ffffff0d,
                #ffffff70
            );
        }
    }
    &__main-form{
        max-width: 460px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        height: 460px;
        margin: 0 auto;
        transform: translateY(-6rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;

        .form-logo{
            user-select: none;
            -webkit-user-drag: none;
            margin-bottom: 35px;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            input{
                width: 100%;
                padding: 8px 12px;
                // border: .8px solid #D9D9D9;
                border: 1px solid #d1d5db;
                border-radius: 6px;
                font-size: 14px;
                
                &::placeholder{
                    color: #d1d5db;
                    opacity: .9;
                    padding-left: 1px;
                }
            }   
            label{
                font-size: 13px;
                margin: 0;
                font-weight: 500;
                opacity: .5;
                margin-bottom: 1px;
                width: 100%;
            }
            .input-group{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .fp-a{
                    font-size: 14px;
                    color: #FFBE42;
                    font-weight: 500;
                    align-self: flex-end;
                    text-decoration: underline;
                }


            }
            .input-cta{
                margin-top: .7rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;

                button{
                    width: 100%;
                    font-size: 14px;
                    color: #fff;
                    background-color: #FFBE42;
                    border-radius: 6px;
                    padding: 8px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                }
                p{
                    font-size: 14px;
                    text-align: center;
                    width: 100%;
                    color: #000;
                    a{
                        color: #FFBE42;
                        font-size: 14px;
                    }
                }
            }
        }
        h3{
            font-weight: 600;
            color: $color-dark;
            margin-bottom: 2.5rem;
        }
    }
}