@import "../components/typography";
@import "../components/colors";

// Providers Login Styles
.provider-login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    .provider-login-main{
        height: 560px;
        width: 1000px;
        display: flex;
        gap: 1rem;
        
        //background-color: rgb(255, 239, 217);

        &__form{
            width: 50%;
            padding: 1rem;
            padding-block: 3.9rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__logo{
                width: 80px;
                margin-inline: 2rem;
            }
            &--head{
                margin-top: 2rem;
                padding-inline: 2rem;
                h3{
                    margin-bottom: 2px;
                    color: $color-dark;
                    
                }
                p{
                    color: $color-gray;
                    font-size: 14px;
                }
            }
            &--fields{
                margin-top: 1.3rem;
                padding-inline: 2rem;
                .plm-ff-group{
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    a{
                        font-size: 14px;
                        color: $color-primary;
                        align-self: flex-end;
                        margin-top: 6px;
                        text-decoration: underline;
                        user-select: none;
                    }


                }
                    small{
                        font-size: 10px;
                        color: red;
                    }
                label{
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-dark;
                    margin-bottom: 4px;
                    opacity: .9;
                    user-select: none !important;
                }
                input{
                    width: 100%;
                    padding: 8px 13px;
                    border: 1px solid #D9D9D9;
                    font-size: 14px;
                    border-radius: 6px;

                    &::placeholder{
                        color: #D9D9D9;
                        user-select: none !important;
                    }
                }
                .plm-ff-group-pass{
                    width: 100%;
                    position: relative;

                    .show{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;

                        svg{
                            opacity: .5;
                        }
                    }
                }
                .plm-ff-btn{
                    width: 100% !important;
                    margin-top: 10px;
                }
                .plm-ff-cta{
                    text-align: center;
                    margin-top: 1.3rem;
                    font-size: 14px;
                    color: $color-dark;
                    user-select: none;
                    a{
                        color: $color-primary;
                        
                    }
                }
            }
        }
        &__image{
            width: 50%;
            background-color: $color-white;
            padding: 1rem;
            
            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
                border-radius: 12px;

                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }

}















