p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  height: fit-content;
  overflow-x: hidden !important;
}

.m-width {
  max-width: 1400px;
}

.main-page {
  margin-top: 0;
}

.m-padding {
  padding-inline: 2rem;
}
@media (max-width: 992px) {
  .m-padding {
    padding-inline: 1rem;
  }
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.head-top {
  width: 100%;
  padding-block: 10px;
  background-color: #171515;
}
.head-top section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.head-top a {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.head-top a:hover {
  color: #FFBE42;
}
@media (max-width: 492px) {
  .head-top a span {
    display: none;
  }
}

.header-desktop {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
}
.header-desktop .header-main {
  margin: 0 auto;
  padding-block: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-desktop .header-main .h-con-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.header-desktop .header-main .h-con-links img {
  width: 80px;
}
.header-desktop .header-main .h-con-links__divider {
  width: 1px;
  height: 28px;
  background-color: #AFAFAF;
}
.header-desktop .header-main .h-con-links ul {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin: 0;
}
.header-desktop .header-main .h-con-links ul li a {
  font-size: 14px;
  color: #171515;
  font-weight: 500;
  text-decoration: none;
}
.header-desktop .header-main .h-con-links ul li a svg {
  margin-right: 5px;
  color: #FFBE42;
  margin-bottom: 1px;
}
.header-desktop .header-main .h-con-links ul li a:hover {
  color: #FFBE42;
  opacity: 0.85;
}
.header-desktop .header-main .h-cta-btns {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header-desktop .header-main .h-cta-btns .login--btn {
  color: #171515;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .header-desktop {
    display: none;
  }
}

.header-mobile {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  margin: 0 auto;
  padding-block: 14px;
  padding-inline: 1rem;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header-mobile .main-mobile-menu {
  width: 240px;
  position: absolute;
  right: 1rem;
  top: 65px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.header-mobile .main-mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-mobile .main-mobile-menu ul li {
  display: block;
  padding-bottom: 11px;
  margin-bottom: 13px;
  border-bottom: 1px solid #AFAFAF;
}
.header-mobile .main-mobile-menu ul li a {
  text-decoration: none;
  z-index: 12;
  position: relative;
  font-size: 14px;
  color: #171515;
  transition: all 300ms ease;
  width: 100% !important;
}
.header-mobile .main-mobile-menu ul li:hover {
  border-color: #FFBE42 !important;
}
.header-mobile .main-mobile-menu ul li:last-child {
  border: none !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.header-mobile .main-mobile-menu {
  display: none;
  transition: ease 300ms;
}
.header-mobile .show-mob-men {
  opacity: 1;
  display: flex;
}
.header-mobile .hamburger-menu {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  background-color: transparent !important;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-mobile .hamburger-menu div {
  z-index: 12;
  position: relative;
  margin-top: 9px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFBE42;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.header-mobile .hamburger-menu div:before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFBE42;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
}
.header-mobile .hamburger-menu div:after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFBE42;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
}
.header-mobile .hamburger-menu-active div {
  background-color: transparent;
}
.header-mobile .hamburger-menu-active div:after {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-mobile .hamburger-menu-active div:before {
  top: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 992px) {
  .header-mobile {
    display: flex;
  }
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.static-footer {
  width: 100%;
  background-color: #171515;
}
.static-footer__main {
  margin: 0 auto;
  padding-block: 5rem;
  display: flex;
}
.static-footer__main .sfoomain-info {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.static-footer__main .sfoomain-info .img-cta-foo {
  margin-bottom: 13px;
}
.static-footer__main .sfoomain-info .img-cta-foo img {
  height: 40px;
}
.static-footer__main .sfoomain-info p {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  max-width: 300px;
  font-weight: 300;
}
.static-footer__main .sfoomain-info div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.static-footer__main .sfoomain-info div a {
  text-decoration: none;
}
.static-footer__main .sfoomain-links {
  display: flex;
  gap: 3rem;
  width: 450px;
  justify-content: space-between;
}
.static-footer__main .sfoomain-links ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.static-footer__main .sfoomain-links ul h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
.static-footer__main .sfoomain-links ul li {
  list-style: none;
  margin-bottom: 8px;
}
.static-footer__main .sfoomain-links ul li a {
  color: #C0C0C0;
  font-size: 15px;
  text-decoration: none;
}
.static-footer__main .sfoomain-links ul li a:hover {
  color: #fff;
}
.static-footer__bot {
  margin: 0 auto;
  padding-block: 18px;
  border-top: 1px solid #C0C0C0;
  color: #C0C0C0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.static-footer__bot div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.static-footer__bot div a {
  color: #C0C0C0;
  font-size: 14px;
  text-decoration: none;
}
.static-footer__bot div a:hover {
  color: #fff;
}
.static-footer__bot p {
  margin: 0;
  font-size: 14px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.btn {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 7px 16px;
  text-transform: capitalize;
  border-radius: 7px;
}
.btn--primary {
  background-color: #171515;
  color: #fff;
  border: 1px solid #171515;
}
.btn--secondary {
  color: #171515;
  background-color: #fff;
  border-color: #171515;
}
.btn--tertiary {
  background-color: #FFBE42;
  border-color: #FFBE42;
  color: #fff;
}
.btn--tertiary:hover {
  color: #fff;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.page--home .section--hero {
  width: 100%;
  height: 38rem;
  padding-block: 90px;
  padding-top: 122px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/home-hero-img.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--home .section--hero h1 {
  text-align: center;
  max-width: 850px;
}
@media (max-width: 992px) {
  .page--home .section--hero h1 {
    max-width: 660px;
  }
}
.page--home .section--hero p {
  text-align: center;
}
@media (max-width: 992px) {
  .page--home .section--hero p {
    max-width: 560px;
  }
}
.page--home .section--hero__inp {
  position: relative;
}
.page--home .section--hero__inp input {
  width: 450px;
  padding: 14px 140px 14px 20px;
  font-size: 14px;
  border-radius: 120px;
  position: relative;
  z-index: 2;
}
.page--home .section--hero__inp input::placeholder {
  color: #AFAFAF;
  font-size: 14px;
}
.page--home .section--hero__inp button {
  position: absolute;
  right: 5px;
  transform: translateY(-50%);
  top: 50%;
  padding: 13px 22px 13px 22px;
  font-size: 14px;
  border-radius: 120px;
  z-index: 2;
  background-color: #FFBE42;
  color: #171515;
  font-weight: 400;
  line-height: 100%;
}
.page--home .section--hero__inp .sh-inp-lists {
  width: 450px;
  background-color: #fff;
  position: absolute;
  top: 21px;
  z-index: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-top: 35px;
  display: none;
}
.page--home .section--hero__inp .sh-inp-lists ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
}
.page--home .section--hero__inp .sh-inp-lists ul::-webkit-scrollbar {
  width: 6px;
}
.page--home .section--hero__inp .sh-inp-lists ul::-webkit-scrollbar-track {
  background: transparent;
}
.page--home .section--hero__inp .sh-inp-lists ul::-webkit-scrollbar-thumb {
  background: #FFBE42;
  border-radius: 6px;
}
.page--home .section--hero__inp .sh-inp-lists ul::-webkit-scrollbar-thumb:hover {
  background: #FFBE42;
}
.page--home .section--hero__inp .sh-inp-lists ul li {
  width: 100%;
}
.page--home .section--hero__inp .sh-inp-lists ul li a {
  display: block;
  width: 100% !important;
  padding: 6px 10px;
  font-size: 14px;
  color: #171515;
  text-decoration: none;
}
.page--home .section--hero__inp .sh-inp-lists ul li a:hover {
  background-color: #FFE4AF;
  color: #171515;
}
.page--home .section--hero__inp .sh-inp-lists ul p {
  margin: 0;
  font-size: 12px;
  color: #AFAFAF;
  display: none;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.page--contact .section--hero {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 30rem;
  background-color: #FFE4AF;
  padding: 80px 1rem;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.page--services .section--list {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
  padding-top: 30px;
  padding-bottom: 40px;
}
.page--services .section--list .ps-sl-category {
  width: 400px;
}
.page--services .section--list .ps-sl-category__head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page--services .section--list .ps-sl-category__head a {
  font-size: 12px;
  color: #171515;
  font-weight: 400;
  line-height: 110%;
}
.page--services .section--list .ps-sl-category__head .s-act-link {
  opacity: 0.55;
}
.page--services .section--list .ps-sl-category__count {
  padding: 10px 0px;
}
.page--services .section--list .ps-sl-category__search {
  position: relative;
}
.page--services .section--list .ps-sl-category__search input {
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 6px;
  padding: 11px 14px;
  padding-left: 37px;
  font-size: 14px;
}
.page--services .section--list .ps-sl-category__search input::placeholder {
  color: #AFAFAF;
}
.page--services .section--list .ps-sl-category__search svg {
  position: absolute;
  top: 50%;
  transform: translateY(-58%);
  left: 12px;
}
.page--services .section--list .ps-sl-category__cat {
  margin-top: 23px;
}
.page--services .section--list .ps-sl-category__cat h4 {
  font-weight: 7500;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 2px;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div {
  display: flex;
  align-items: center;
  gap: 9px;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div input[type=checkbox] {
  position: relative;
  min-width: 10px;
  min-height: 10px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #171515;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div input[type=checkbox]::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2px;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div input[type=checkbox]:checked {
  border-color: #FFBE42;
  background-color: #FFBE42;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #FFBE42;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box div .ps-category-title {
  margin: 0;
  line-height: 115%;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-top: 1px;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box .ps-category-count {
  font-size: 12px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #AFAFAF;
  gap: 7px;
}
.page--services .section--list .ps-sl-category__cat .ps-sl-cc-main__box .ps-category-count span {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #34C759;
  display: inline-block;
}
.page--services .section--list .ps-sl-category hr {
  margin-block: 27px;
}
@media (max-width: 992px) {
  .page--services .section--list .ps-sl-category .join-now-cta, .page--services .section--list .ps-sl-category__cat,
  .page--services .section--list .ps-sl-category hr {
    display: none;
  }
}
.page--services .section--list .ps-sl-cards {
  width: 100%;
  height: fit-content;
}
.page--services .section--list .ps-sl-cards__head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 17px 0;
}
.page--services .section--list .ps-sl-cards__head button {
  outline: none !important;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(21, 21, 21, 0.4274509804);
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #DADADA;
  background-color: transparent;
  border-radius: 6px;
}
.page--services .section--list .ps-sl-cards__head .ps-serv-btn-cat-m {
  display: none;
}
@media (max-width: 992px) {
  .page--services .section--list .ps-sl-cards__head .ps-serv-btn-cat-m {
    display: block;
  }
}
.page--services .section--list .ps-sl-cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box {
  border: 1px solid #DADADA;
  border-radius: 8px;
  height: fit-content;
  overflow: hidden;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__head {
  width: 100%;
  height: 170px;
  position: relative;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__head--cat {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #171515;
  font-weight: 600;
  font-size: 13px;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body {
  padding: 15px 13px;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body h3 {
  line-height: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px !important;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--label {
  font-size: 14px;
  font-weight: 400;
  color: #171515;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--info div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: rgba(21, 21, 21, 0.5529411765);
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--cta a {
  font-size: 12px;
  font-weight: 600;
  color: #171515;
  background-color: #FFBE42;
  padding: 6px 17px;
  border-radius: 4px;
  text-decoration: none;
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--cta p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(21, 21, 21, 0.5529411765);
}
.page--services .section--list .ps-sl-cards__list .ps-sl-c-box__body--cta p span {
  font-size: 10px;
}
@media (max-width: 1225px) {
  .page--services .section--list .ps-sl-cards__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .page--services .section--list .ps-sl-cards__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 792px) {
  .page--services .section--list .ps-sl-cards__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .page--services .section--list .ps-sl-cards__list {
    grid-template-columns: 1fr;
  }
}
.page--services .section--list .ps-sl-cards .ps-sl-view-more {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page--services .section--list .ps-sl-cards .ps-sl-view-more button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  color: #0088FF;
}
@media (max-width: 992px) {
  .page--services .section--list {
    flex-direction: column;
    gap: 10px;
  }
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.page--about .section--hero {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 30rem;
  background-color: #FFE4AF;
  padding: 80px 1rem;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.login-page {
  height: 100vh;
}
.login-page__bg {
  width: 100%;
  height: 13rem;
  background-image: url("../images/bg.png");
  background-position: 50% 75%;
  background-size: cover;
  position: relative;
}
.login-page__bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.0509803922), rgba(255, 255, 255, 0.4392156863));
}
.login-page__main-form {
  max-width: 460px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  height: 460px;
  margin: 0 auto;
  transform: translateY(-6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.login-page__main-form .form-logo {
  user-select: none;
  -webkit-user-drag: none;
  margin-bottom: 35px;
}
.login-page__main-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-page__main-form form input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}
.login-page__main-form form input::placeholder {
  color: #d1d5db;
  opacity: 0.9;
  padding-left: 1px;
}
.login-page__main-form form label {
  font-size: 13px;
  margin: 0;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 1px;
  width: 100%;
}
.login-page__main-form form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-page__main-form form .input-group .fp-a {
  font-size: 14px;
  color: #FFBE42;
  font-weight: 500;
  align-self: flex-end;
  text-decoration: underline;
}
.login-page__main-form form .input-cta {
  margin-top: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-page__main-form form .input-cta button {
  width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #FFBE42;
  border-radius: 6px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.login-page__main-form form .input-cta p {
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #000;
}
.login-page__main-form form .input-cta p a {
  color: #FFBE42;
  font-size: 14px;
}
.login-page__main-form h3 {
  font-weight: 600;
  color: #171515;
  margin-bottom: 2.5rem;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #FFBE42;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }
}
h2 span {
  color: #FFBE42;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
h3 span {
  color: #FFBE42;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: #171515;
}
@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
}
h4 span {
  color: #FFBE42;
}

.provider-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.provider-login .provider-login-main {
  height: 560px;
  width: 1000px;
  display: flex;
  gap: 1rem;
}
.provider-login .provider-login-main__form {
  width: 50%;
  padding: 1rem;
  padding-block: 3.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.provider-login .provider-login-main__form__logo {
  width: 80px;
  margin-inline: 2rem;
}
.provider-login .provider-login-main__form--head {
  margin-top: 2rem;
  padding-inline: 2rem;
}
.provider-login .provider-login-main__form--head h3 {
  margin-bottom: 2px;
  color: #171515;
}
.provider-login .provider-login-main__form--head p {
  color: #AFAFAF;
  font-size: 14px;
}
.provider-login .provider-login-main__form--fields {
  margin-top: 1.3rem;
  padding-inline: 2rem;
}
.provider-login .provider-login-main__form--fields .plm-ff-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.provider-login .provider-login-main__form--fields .plm-ff-group a {
  font-size: 14px;
  color: #FFBE42;
  align-self: flex-end;
  margin-top: 6px;
  text-decoration: underline;
  user-select: none;
}
.provider-login .provider-login-main__form--fields label {
  font-size: 14px;
  font-weight: 500;
  color: #171515;
  margin-bottom: 4px;
  opacity: 0.9;
}
.provider-login .provider-login-main__form--fields input {
  width: 100%;
  padding: 8px 13px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  border-radius: 6px;
}
.provider-login .provider-login-main__form--fields input::placeholder {
  color: #D9D9D9;
}
.provider-login .provider-login-main__form--fields .plm-ff-group-pass {
  width: 100%;
  position: relative;
}
.provider-login .provider-login-main__form--fields .plm-ff-group-pass .show {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.provider-login .provider-login-main__form--fields .plm-ff-group-pass .show svg {
  opacity: 0.5;
}
.provider-login .provider-login-main__form--fields .plm-ff-btn {
  width: 100% !important;
  margin-top: 10px;
}
.provider-login .provider-login-main__form--fields .plm-ff-cta {
  text-align: center;
  margin-top: 1.3rem;
  font-size: 14px;
  color: #171515;
  user-select: none;
}
.provider-login .provider-login-main__form--fields .plm-ff-cta a {
  color: #FFBE42;
}
.provider-login .provider-login-main__image {
  width: 50%;
  background-color: #fff;
  padding: 1rem;
}
.provider-login .provider-login-main__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  user-select: none;
  -webkit-user-drag: none;
}

/*# sourceMappingURL=app.css.map */
