.provider--dashboard{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;


    &__head{
        width: 100%;
        padding: 10px 0px;
        padding-top: 7px;
        border-bottom: 1px solid #E0E2E7;
        p{
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
            color: #0000004d;
            margin: 0;
        }
    }
    &__header-box{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-top: 15px;
        .pdhb-box{
            padding: 15px;
            border: 1px solid #E0E2E7;
            border-radius: 6px;
            background-color: $color-white;

            &__top{
                display: flex;
                align-items: center;
                justify-content: space-between;

                p{
                    font-size: 14px;
                    line-height: 110%;
                    font-weight: 500;
                    color: #777980;
                    margin: 0;
                }
            }
            &__count{
                margin-block: 12px;
                p{
                    font-size: 28px;
                    line-height: 110%;
                    font-weight: 500;
                    color: $color-dark;
                    margin: 0;
                    font-family: $font-secondary;
                    span{
                        font-size: 14px;
                        color: #777980;
                        font-weight: 600;
                        margin-right: 2px;
                    }
                }
            }
            &__range{
                display: flex;
                align-items: center;
                // justify-content: space-between;
                gap: 5px;
                
                p{ 
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 600;
                    color: #7779808d;
                    margin: 0;
                }

                div{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: #1A9882;
                    font-size: 14px;
                    font-weight: 600;
                }


            }
        }

    }
    &__charts-con{
        width: 100%;
        margin-top:15px;
        background-color: $color-white;
        height: 20rem;
        border: 1px solid #E0E2E7;
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;

        &--ch1{
            padding: 15px;
            height: 100%;
            background-color: #1A9882;
        }
        &--ch2{
            padding: 15px;
            height: 100%;
            background-color: #1A9882;
        }
    }
}