.provider--dashboard{
    width: 100%;
    height: 100vh;
    background-color: #F5F7FA;
    padding: 10px 15px;


    &__head{
        width: 100%;
        padding: 10px 0px;
        padding-top: 7px;
        border-bottom: 1px solid #E0E2E7;
        p{
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
            color: #0000004d;
            margin: 0;
        }
    }
}