.provider--bookings{
    width: 100%;
    // height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;

    &__head{
        width: 100%;
        padding: 10px 0px;
        padding-top: 7px;
        h3{
            font-size: 24px;
            margin-bottom: 3px;
            line-height: 110%;
        }
        p{
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
            color: #0000004d;
            margin: 0;
        }
    }
    &__filters{
        margin-top: .8rem;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        &--search-bar{
            width: 370px;
            height: 42px;
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 14px;
                color: #374151;
                padding: 0px 10px;
                padding-right: 40px !important;
                &::placeholder{
                    color: #9CA3AF;
                }
            }
            svg{
                position: absolute;
                right: 15px;
                width: 20px;
                height: 20px;
                color: #9CA3AF;
            }
        }
        &--dropdowns{
            position: relative;
            
            &--sort{
                width: 120px;
                cursor: pointer;
                height: 42px;
                border: 1px solid #D1D5DB;
                border-radius: 6px;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                font-size: 14px;
                padding: 0px 10px;
                padding-right: 15px;
                position: relative;
                overflow: hidden;
                color: #374151;
            }
            svg{
                position: absolute;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
                color: #9CA3AF;
            }
        }
    }
    &--tables{
        width: 100%;
        // height: 30rem;
        border: 1px solid #D1D5DB;
        border-radius: 6px;
        background-color: #FFFFFF;
        margin-top: 1rem;

        
        &--main{
            

            .pbft-header{
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #E5E7EB;
                display: grid;
                grid-template-columns: 140px 15% 15% 17% 17% 9% 1fr;
                
                
                div{
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color:$color-dark;
                    height: 100%;
                    line-height: 110%;
                }
                
                &--id{
                    justify-content: center;
                }

            }
            .pbft-body{
                width: 100%;
                height: 63px;
                border-bottom: 1px solid #E5E7EB;
                display: grid;
                grid-template-columns: 140px 15% 15% 17% 17% 9% 1fr;
                
                &:last-child{
                    border-bottom: none;
                }
                div{
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    font-size: 14px;
                    color:hsla(43, 64%, 2%, 0.502);
                    height: 100%;
                    line-height: 110%;
                    p{
                        font-size: 14px;
                        margin: 0;
                        display: inline-block;

                        line-height: 110%;
                    }
                }
                &--id{
                    justify-content: center;
                }
                &--client-name{
                    color: #090702 !important;
                    font-weight: 500;
                    img{
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
                &--des{
                    justify-content: center;
                    align-items: flex-start !important;
                    flex-direction: column;
                    gap: 3px;

                    p{
                        &:last-child{
                            color: #717275;
                            font-weight: 600;

                            max-width: 90%;        /* or set a fixed width like 250px */
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;         /* or inline-block */
                        }
                    }
                }
                &--status{

                    span{
                        display: block;
                        font-size: 12px;
                        padding: 6px 10px;
                        border-radius: 4px;
                    }
                } 
                .pending-sbox{
                    background-color: #ff8c283d;
                    color: #FF8D28;
                }
                .accepted-sbox{
                    background-color: #0088FF3d;
                    color: #0088FF;
                }
                .completed-sbox{
                    background-color: #34C7593d;
                    color: #34C759;
                }
                .cancel-sbox{
                    background-color: #FF383C3d;
                    color: #FF383C;
                }

                &--actions{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    button{
                        border: 1px solid transparent;
                        font-size: 12px;
                        padding: 5px 8px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        outline-color: #0088ff53 !important;
                    }
                    .btn-confirm{
                        background-color: #11B411;
                        color: #FFF;
                        border: 1px solid #11B411;
                    }
                    .btn-cancel{
                        background-color: #D74646;
                        color: #FFF;
                        border: 1px solid #D74646;
                    }

                }
            }

            @media (max-width: 1320px) {
                width: 1320px;
            }
        }

        @media (max-width: 1380px) {
            overflow-x: scroll;
        }

    }
    @media (min-height: 660px) {
        height: 100vh;
    }
}