.provider--bookings{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;

    &__head{
        width: 100%;
        padding: 10px 0px;
        padding-top: 7px;
        h3{
            font-size: 24px;
            margin-bottom: 3px;
            line-height: 110%;
        }
        p{
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
            color: #0000004d;
            margin: 0;
        }
    }
    &__filters{
        margin-top: .8rem;
        display: flex;
        gap: 10px;

        &--search-bar{
            width: 370px;
            height: 42px;
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 14px;
                color: #374151;
                padding: 0px 10px;
                padding-right: 40px !important;
                &::placeholder{
                    color: #9CA3AF;
                }
            }
            svg{
                position: absolute;
                right: 15px;
                width: 20px;
                height: 20px;
                color: #9CA3AF;
            }
        }
        &--dropdowns{
            position: relative;
            
            &--sort{
                width: 120px;
                cursor: pointer;
                height: 42px;
                border: 1px solid #D1D5DB;
                border-radius: 6px;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                font-size: 14px;
                padding: 0px 10px;
                padding-right: 15px;
                position: relative;
                overflow: hidden;
                color: #374151;
            }
            svg{
                position: absolute;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
                color: #9CA3AF;
            }
        }
        &--tables{
            width: 100%;
            height: 30rem;
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            background-color: #FFFFFF;
            margin-top: 1rem;

            .pbft-header{
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #E5E7EB;
                display: grid;
                grid-template-columns: 160px 15% 15% 15% 15% 1fr 1fr;
                
                
                div{
                    display: flex;
                    align-items: center;
                    
                    font-size: 14px;
                    font-weight: 600;
                    color:$color-dark;
                    height: 100%;
                    
                }
                
                &--id{
                    justify-content: center;
                }

            }
        }

    }
}