.customer--dash{
    width: 100%;
    // height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    gap: 1rem;

    .cusdash-left{
        width: 400px;
        height: 30rem;
        //background-color: rgba(65, 105, 225, 0.326);
        display: flex;
        flex-direction: column;
        gap: 14px;
        &--total{
            width: 100%;
            // height: 100px;
            padding: 20px 15px;
            border: 1px solid #E0E2E7;
            border-radius: 6px;
            background-color: $color-white;

            display: flex;
            justify-content: space-between;
            // align-items: center;

            div{
                
                p{
                    font-size: 14px;
                    line-height: 110%;
                    font-weight: 500;
                    color: #777980;
                    margin: 0;
                }
                h3{
                    margin: 0;
                    margin-top: 7px;
                    font-size: 28px ;
                }
            }
            img{}
        }
        &--canceled{
            padding: 20px 15px;
            border: 1px solid #E0E2E7;
            border-radius: 6px;
            background-color: $color-white;

            &__top{
                display: flex;
                justify-content: space-between;
                div{
                    p{
                        font-size: 14px;
                        line-height: 110%;
                        font-weight: 500;
                        color: #777980;
                        margin: 0;
                    }
                    h3{
                        margin: 0;
                        margin-top: 7px;
                        font-size: 28px ;
                    }
                }
            }
            &__bot{
                width: 100%;
                // height: 50px;
                background-color: #FFBE424d;
                border-radius: 6px;
                border: 1px solid #FFBE42;
                margin-top: 1rem;

                padding: 12px 12px;
                p{
                    font-size: 12px;
                    color: #4B3D2C;
                    line-height: 140%;
                    margin: 0;
                    margin-top: 10px;

                }
            }
        }
        &--reminders{
            width: 100%;
            // height: 100px;
            padding: 20px 15px;
            border: 1px solid #E0E2E7;
            border-radius: 6px;
            background-color: $color-white;

            &__title{
                font-size: 16px;
                color: #777980;
                font-weight: 500;
                margin-bottom: 8px;
            }
            &__label{
                font-size: 14px;
                line-height: 130%;
                font-weight: 500;
                // color: #777980;
                margin: 0;
            }
            ul{
                padding: 0;
                padding-left: 16px;
                list-style: disc;
                margin-top: 15px;
                margin-bottom: 0;
                li{
                    font-size: 14px;
                    line-height: 130%;
                }
            }
        }
    }
    .cusdash-right{
        width: 100%;
        // height: 30rem;
        // background-color: royalblue;

        &__head{
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 10px;
            padding-top: 5px;
            h4{
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                span{
                    font-size: 10px;
                    color: #777980;
                }
            }
            &__filter{
                position: relative;
                
                &--sort{
                    width: 120px;
                    cursor: pointer;
                    height: 38px;
                    border: 1px solid #D1D5DB;
                    border-radius: 6px;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    padding: 0px 10px;
                    padding-right: 15px;
                    position: relative;
                    overflow: hidden;
                    color: #374151;
                }
                svg{
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #9CA3AF;
                }
            }
        }
        &__cards-con{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            .cdrcc-ordbox{
                width: 100%;
                border-radius: 8px;
                border: 1px solid #E0E2E7;
                background-color: $color-white;
                overflow: hidden;
                display: flex;
                gap:5px;
                margin-bottom: 25px;

                &--img{
                    // width: 200px;
                    // height: 100%;
                    img{
                        width: 200px;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }
                }
                &--info{
                    width: 100%;
                    padding: 16px;
                    .cdrcc-ordbox-i{
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #D1D5DB;
                        padding-bottom: 13px;
                        &--profile{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            img{
                                width: 40px;
                                height: 40px;
                                border-radius: 55px;
                                object-fit: cover;
                                object-position: center;
                            }
                            &__dtl{

                                h3{
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 110%;
                                    margin: 0;
                                    margin-bottom: 3px;
                                }

                                &--con{
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    flex-wrap: wrap;
                                    row-gap: 1px;
                                    div{
                                        display: flex;
                                        align-items: center;
                                        gap: 5px;
                                        font-size: 12px;
                                        color: #777980;
                                        font-weight: 500;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        &--status{
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            button{
                                border: 1px solid #D1D5DB;
                                background-color: transparent;
                                padding: 6px 13px;
                                border-radius: 6px;
                                font-size: 12px;
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                span{
                                    min-width: 5px;
                                    min-height: 5px;
                                    border-radius: 10px;
                                    background-color: #FFBE42;
                                }
                                .cdrcc-btn-b{
                                    background-color: #0088FF;
                                }
                                .cdrcc-btn-p{
                                    background-color: #FFBE42;
                                }
                                .cdrcc-btn-g{
                                    background-color: #34C759;
                                }
                            }
                            .receipt{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0 !important;
                                min-height: 32px;
                                min-width: 32px !important;
                            }
                        }
                        @media(max-width: 1280px) {
                            flex-direction: column;
                            row-gap: 13px;
                        }
                    }
                    .cdrcc-ordbox-d{
                        display: flex;
                        gap: 1.3rem;
                        margin-top: 13px;
                        align-items: flex-end;
                        justify-content: space-between;

                        .cdrcc-ordbox-d-l{
                            display: flex;
                            
                            &--service-type{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                padding-right: 8px;
                                border-right: 1px solid #D1D5DB;
                                max-width: 240px;
                                h4{
                                    font-size: 16px;
                                    margin: 0;
                                    font-weight: 500;
                                    line-height: 120%;
                                }
                                p{
                                    font-size: 12px;
                                    color: #9CA3AF;
                                    margin: 0;
                                    
                                    line-height: 120%;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;  
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                            }
                            &--sched{
                                padding-left: 25px;
                                p{
                                    margin: 0;
                                }
                                &__label{
                                    font-size: 10px;
                                    color: #9CA3AF;
                                    margin-bottom: 5px !important;
                                }
                                &__txt{
                                    font-size: 12px;
                                    color: #9CA3AF;
                                    span{
                                        color: $color-dark !important;
                                    }
                                }
                            }
                            @media(max-width: 1280px) {
                                flex-direction: column;
                                row-gap: 13px;

                                &--service-type,
                                &--sched{
                                    padding-right: 0;
                                    padding-left: 0;
                                    border: none !important;
                                }
                            }
                        }
                        .cdrcc-ordbox-d-r{
                            display: flex;
                            align-items: flex-end;
                            flex-direction: column;
                            button{
                                background-color: transparent;
                                // height: 10px;
                                width: fit-content;
                                border: none;
                            }
                            p{
                                font-size: 10px;
                                color: #9CA3AF;
                                margin-bottom: 2px;
                            }
                            h4{
                                font-size: 20px;
                                font-weight: 500;
                                margin: 0;

                                span{
                                    font-size: 10px;
                                    color: #9CA3AF;

                                }
                            }
                            .paid{
                                color: #9CA3AF;
                                font-weight: 400;
                            }
                        }

                    }
                }
                @media(max-width: 592px) {
                    flex-direction: column;
                    &--img{
                        // width: 200px;
                        // height: 100%;
                        img{
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                            object-position: center;
                            display: block;
                        }
                    }
                }
            }


            .cdrcc-ordbox.active{
                border-color: $color-primary !important;
                margin-bottom: 0;
            }
            &--active-box{
                width: 100%;
                border-bottom: 1px solid #E0E2E7;
                // height: 20rem;
                padding-bottom: 25px;
                margin-bottom: 25px;
            }



        }
    }
    @media(max-width: 992px) {
        flex-direction: column;
        row-gap: .8rem;
        .cusdash-left{
            width: 100%;
            height: fit-content;
        }
    }


    @media(max-width: 1280px) {
        height: fit-content !important;
    }
    @media (min-height: 730px) {
        height: 100vh;
    }
}