.customer--bookings{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;





    // @media (min-height: 660px) {
    //     height: 100vh;
    // }
}