//Components
@import "components/global";
@import "components/typography";
@import "components/header";
// @import "components/header-mobile";
@import "components/footer";
@import "components/button";

//Pages
@import "pages/home";
@import "pages/contact";
@import "pages/services";
@import "pages/service-detail";
@import "pages/book";
@import "pages/about";




//Admin
@import "admin/login";
@import "admin/prov-reg";

//Provider
@import "providers/login";
@import "providers/provider-dash";
@import "providers/provider-bookings";

//Customer
@import "customer/customer-bookings";
@import "customer/customer-dash";
