@import "typography";
@import "colors";

.btn {
    // min-width: 150px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 7px 16px;
    text-transform: capitalize;
    border-radius: 7px;

    &--primary {
        background-color: $color-dark;
        color: $color-white;
        border: 1px solid $color-dark;
        &:hover, &:active {
            background-color: $color-dark !important;
            color: $color-white !important;
        }
    }

    &--secondary {
        color: $color-dark;
        background-color: $color-white;
        border-color: $color-dark;
        &:hover {
        color: $color-dark;
        background-color: $color-white;
        border-color: $color-dark;  
        }
    }
    &--tertiary{
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
        &:hover, 
        &:active {
            background-color: $color-primary;
            border-color: $color-primary !important;
            color: $color-white;
        }
    }
    &--tertiary-d{
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-dark;
        width: 100%;
        font-weight: 500 !important; 
        &:hover, 
        &:active {
            background-color: $color-primary;
            border-color: $color-primary !important;
            color: $color-dark;
        }
    }
}