$color-primary: #FFBE42;
$color-secondary: #FFE4AF;

// $color-background: #0C0B0A;
$color-white: #fff;
$color-gray: #777980;
$color-dark: #171515;
$color-border: #D9D9D9;
$color-border-soft: #E0E2E7;
$color-back-table: #F9F9F9;

$color-navy: #1A2F4A;