@import "typography";
@import "colors";

*{
    box-sizing: border-box;
}
::selection {
    background: rgb(255, 215, 141);
    color: #000000;
}
body{
    font-family: $font-primary;
    position: relative;
    height: fit-content;
    // width: fit-content;
    overflow-x: hidden !important;
}

ul{
    padding: 0;
}
a{text-decoration: none;}
hr{
    color:  #959595;
}

.m-width{
    max-width: 1400px;
}

.main-page{
    //margin-top: 6.599rem;
    margin-top: 0;
}
.m-padding{
    padding-inline: 2rem;

    @media (max-width: 992px) {
        padding-inline: 1rem;
    }
}