@import "typography";
@import "colors";

*{
    box-sizing: border-box;
}
::selection {
    background: rgb(255, 215, 141);
    color: #000000;
}
body{
    font-family: $font-primary;
    position: relative;
    height: fit-content;
    // width: fit-content;
    overflow-x: hidden !important;
}

ul{
    padding: 0;
}
a{text-decoration: none;}
hr{
    color:  #959595;
}

.m-width{
    max-width: 1400px;
}

.main-page{
    //margin-top: 6.599rem;
    margin-top: 0;
}
.m-padding{
    padding-inline: 2rem;

    @media (max-width: 992px) {
        padding-inline: 1rem;
    }
}

.glb-btn{
    background-color: $color-primary;
    color: $color-dark;
    border-radius: 4px;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: $font-primary;

}
.plain-link{
    color: $color-dark;
    font-size: 15px;
    margin-right: 1.3rem;
    line-height: 100%;
}

.dash-sp{
    transition: 300ms ease;
    padding-left: 215px !important;
    @media (max-width: 792px) {
        padding-left: 65px !important;
    }
}

.sidebar-dashboard{
    width: 200px;
    height: 100%;

    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms ease;

    &--logo{
        width: 100%;
        height: 60px;
        //background-color: rgb(48, 48, 48);
        padding: 8px 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(48, 48, 48);
        .sdl-d{
            height: 32px;
            @media (max-width: 792px) {
                display: none;
            }
        }
        .sdl-m{
            display: none;
            height: 27px;
            @media (max-width: 792px) {
                display: block;
            }
        }
        @media (max-width: 792px) {
            padding-left: 10px;
        }
    }
    &--links{
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;

            li {
                width: 100%;
                margin-bottom: 2px;
                a {
                    display: block;
                    width: 100%;
                    padding: 10px 16px;
                    border-left: 4px solid transparent;
                    // background-color: #959595;
                    font-size: 14px;
                    color: $color-white;
                    text-decoration: none;
                    font-weight: 400;
                    letter-spacing: .1px;
                    // transition: 100ms ease;
                    display: flex;
                    align-items: center;
                    line-height: 105%;

                    div{
                        width: 20px;
                        height: 20px;
                        //background-color: #902222;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;

                        svg{
                            
                        }
                        @media (max-width: 792px) {
                            margin-right: 25px;
                        }
                    }
                    @media (max-width: 792px) {
                        padding-left: 12px;
                    }

                    &:hover{
                        // color: $color-dark;
                        background-color: #242424d2;
                        border-left: 4px solid $color-primary;
                    }

                }
                .active{
                    color: $color-dark !important;
                    background-color: #fff6e7 !important;
                    border-left: 4px solid $color-primary !important;
                }
            }
        }
    }
    @media (max-width: 792px) {
        width: 50px;
        overflow: hidden;
    }
}
.header--dashboard{
    width: 100%;
    height: 60px;
    background-color: $color-white;
    border-bottom: 1px solid #E0E2E7;
    padding-left: 210px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease;
    @media (max-width: 792px) {
        padding-left: 65px !important;
    }
    .hdb-a-menu{
        background-color: transparent;
        border: none;
        // padding: 3px;
        outline: none;
        &:hover{
            color: $color-primary;
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        gap: 14px;

        &--info{
            display: flex;
            align-items: center;
            gap: 8px;

            div{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                button{
                    outline: none;
                    background-color: transparent;
                    border: none;

                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
        &--img{
            position: relative;
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 55px;
                object-fit: cover;
                object-position: center;
                display: block;
            }
            button{
                border: none;
                background: $color-white;
                padding: 0;
                margin: 0;
                cursor: pointer;
                // position: absolute;
                // bottom: 0;
                // right: 0;
                // width: 30px;
                // height: 30px;
                padding: 5px;
                outline: none;
                margin-left: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: ease 0.3s;
                svg{
                    margin-top: 2px;
                }
                .menu-icon.is-rotated {
                    margin-bottom: 3px;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
#user-menu{
    position: absolute;
    top: 65px;
    right: 20px;
    width: 135px;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    // padding: 10px;
    z-index: 100;
    display: none;
    padding-bottom: 8px;

    div{
        width: 100%;
        padding: 10px;
        // background-color: #E0E2E7;
        margin: 5px 0px;

        border-bottom: 1px solid #C4C4C4;
        p{
            margin: 0;
            word-break: break-all;
            font-size: 13px;
            line-height: 100%;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
    }
    li{
        width: 100%;
    }
    a{
        width: 100%;
        padding: 8px 11px;
        text-decoration: none;
        color: $color-dark;
        display: block;
        font-size: 12px;
        
        
        &:hover{
            background-color: #F3F4F6;
        }

    }
    form{
        width: 100%;
        button{
            width: 100%;
            padding: 8px 11px;
            background-color: transparent;
            border: none;
            text-align: left;
            font-size: 12px;
            color: $color-dark;
            cursor: pointer;

            &:hover{
                background-color: #F3F4F6;
            }
        }
    }
}
.is-open{
    display: block !important;
}

.hide-side-bar-a{
    // width: 0px !important;
    transform: translateX(-240px);

}
.hide-side-bar-a-maindash{
    padding-left: 15px !important;
}
.hide-side-bar-a-headerdash{
    padding-left: 15px !important;
}