@import "typography";
@import "colors";

*{
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
    position: relative;
    height: fit-content;
    // width: fit-content;
    overflow-x: hidden !important;
}

.m-width{
    max-width: 1400px;
}

.main-page{
    //margin-top: 6.599rem;
    margin-top: 0;
}
.m-padding{
    padding-inline: 2rem;

    @media (max-width: 992px) {
        padding-inline: 1rem;
    }
}