@import "typography";
@import "colors";

*{
    box-sizing: border-box;
}
::selection {
    background: rgb(255, 215, 141);
    color: #000000;
}
body{
    font-family: $font-primary;
    position: relative;
    height: fit-content;
    // width: fit-content;
    overflow-x: hidden !important;
}

ul{
    padding: 0;
}
a{text-decoration: none;}
hr{
    color:  #959595;
}

h2{
    font-size: 35px !important;
    font-family:$font-inter;
    @media (max-width: 692px) {
       font-size: 30px !important; 
    }
}   
h5{
    font-size: 18px;
    font-weight: 600;
}
.m-width{
    max-width: 1400px;
}

.main-page{
    //margin-top: 6.599rem;
    margin-top: 0;
}
.m-padding{
    padding-inline: 2rem;

    @media (max-width: 992px) {
        padding-inline: 1rem;
    }
}
.btn-space{
    display: flex;
    gap: 13px;
}
.glb-btn{
    background-color: $color-primary;
    color: $color-dark;
    border-radius: 4px;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: $font-primary;

}
.plain-link{
    color: $color-dark;
    font-size: 15px;
    margin-right: 1.3rem;
    line-height: 100%;
}

.dash-sp{
    transition: 300ms ease;
    padding-left: 215px !important;
    @media (max-width: 792px) {
        padding-left: 65px !important;
    }
}

.sidebar-dashboard{
    width: 200px;
    height: 100%;

    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms ease;

    &--logo{
        width: 100%;
        height: 60px;
        //background-color: rgb(48, 48, 48);
        padding: 8px 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(48, 48, 48);
        .sdl-d{
            height: 32px;
            @media (max-width: 792px) {
                display: none;
            }
        }
        .sdl-m{
            display: none;
            height: 27px;
            @media (max-width: 792px) {
                display: block;
            }
        }
        @media (max-width: 792px) {
            padding-left: 10px;
        }
    }
    &--links{
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;

            li {
                width: 100%;
                margin-bottom: 2px;
                a {
                    display: block;
                    width: 100%;
                    padding: 10px 16px;
                    border-left: 4px solid transparent;
                    // background-color: #959595;
                    font-size: 14px;
                    color: $color-white;
                    text-decoration: none;
                    font-weight: 400;
                    letter-spacing: .1px;
                    // transition: 100ms ease;
                    display: flex;
                    align-items: center;
                    line-height: 105%;

                    div{
                        width: 20px;
                        height: 20px;
                        //background-color: #902222;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;

                        svg{
                            
                        }
                        @media (max-width: 792px) {
                            margin-right: 25px;
                        }
                    }
                    @media (max-width: 792px) {
                        padding-left: 12px;
                    }

                    &:hover{
                        // color: $color-dark;
                        background-color: #242424d2;
                        border-left: 4px solid $color-primary;
                    }

                }
                .active{
                    color: $color-dark !important;
                    background-color: #fff6e7 !important;
                    border-left: 4px solid $color-primary !important;
                }
            }
        }
    }
    @media (max-width: 792px) {
        width: 50px;
        overflow: hidden;
    }
}
.header--dashboard{
    width: 100%;
    height: 60px;
    background-color: $color-white;
    border-bottom: 1px solid #E0E2E7;
    padding-left: 210px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease;
    @media (max-width: 792px) {
        padding-left: 65px !important;
    }
    .hdb-a-menu{
        background-color: transparent;
        border: none;
        // padding: 3px;
        outline: none;
        &:hover{
            color: $color-primary;
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        gap: 14px;

        &--info{
            display: flex;
            align-items: center;
            gap: 8px;

            div{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                button{
                    outline: none;
                    background-color: transparent;
                    border: none;

                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
        &--img{
            position: relative;
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 55px;
                object-fit: cover;
                object-position: center;
                display: block;
            }
            button{
                border: none;
                background: $color-white;
                padding: 0;
                margin: 0;
                cursor: pointer;
                // position: absolute;
                // bottom: 0;
                // right: 0;
                // width: 30px;
                // height: 30px;
                padding: 5px;
                outline: none;
                margin-left: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: ease 0.3s;
                svg{
                    margin-top: 2px;
                }
                .menu-icon.is-rotated {
                    margin-bottom: 3px;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
#user-menu{
    position: absolute;
    top: 65px;
    right: 20px;
    width: 135px;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    // padding: 10px;
    z-index: 100;
    display: none;
    padding-bottom: 8px;

    div{
        width: 100%;
        padding: 10px;
        // background-color: #E0E2E7;
        margin: 5px 0px;

        border-bottom: 1px solid #C4C4C4;
        p{
            margin: 0;
            word-break: break-all;
            font-size: 13px;
            line-height: 100%;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
    }
    li{
        width: 100%;
    }
    a{
        width: 100%;
        padding: 8px 11px;
        text-decoration: none;
        color: $color-dark;
        display: block;
        font-size: 12px;
        
        
        &:hover{
            background-color: #F3F4F6;
        }

    }
    form{
        width: 100%;
        button{
            width: 100%;
            padding: 8px 11px;
            background-color: transparent;
            border: none;
            text-align: left;
            font-size: 12px;
            color: $color-dark;
            cursor: pointer;

            &:hover{
                background-color: #F3F4F6;
            }
        }
    }
}
.is-open{
    display: block !important;
}

.hide-side-bar-a{
    // width: 0px !important;
    transform: translateX(-240px);

}
.hide-side-bar-a-maindash{
    padding-left: 15px !important;
}
.hide-side-bar-a-headerdash{
    padding-left: 15px !important;
}


// Create / Edit
.provider--create{
    width: 100%;
    // height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;

    ul{

    }
    li{
        list-style: disc;
    }
    &__main{
        width: 100%;
        // height: 30rem;
        background-color: $color-white;
        border: 1px solid $color-border-soft;
        border-radius: 2px;

        .provserv-c-head{
            width: 100%;
            height: 35px;
            background-color: #F8F6F2;
            border-bottom: 1px solid $color-border-soft;
            display: flex;
            align-items: center;
            // justify-content: center;
            padding: 0 10px;
            h4{
                font-size: 14px;
                margin: 0;
            }
        }
        .provserv-c-body{
            padding: 20px;
            &--fields{
                // margin-top: 1rem;
                .prg-mm-group{
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    max-width: 600px;
                }
                label{
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-dark;
                    margin-bottom: 4px;
                    opacity: .9;
                    user-select: none !important;

                    span{
                        color: red;
                    }
                }
                textarea{
                    resize: none;
                }
                textarea,
                input[type="text"],
                input[type="email"],
                input[type="password"],
                input[type="number"]{
                    width: 100%;
                    padding: 7px 13px;
                    border: 1px solid $color-border;
                    font-size: 14px;
                    border-radius: 4px;
                    
                    &::placeholder{
                        color: #D9D9D9;
                        user-select: none !important;
                    }
                }
                .file-field{
                    margin-bottom: 15px;
                    .file-input-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        border: 1px solid $color-border;
                        border-radius: 6px;
                        padding: 8px 10px;
                        padding-left: 110px;
                        height: 39.18px;
                        background-color: #fff;
                        position: relative;
                        overflow: hidden;

                        .file-btn {
                            background-color: #3A3A3A;
                            color: #fff;
                            border: none;
                            padding: 6px 14px;
                            // border-radius: 4px;
                            font-size: 13px;
                            margin: 0 !important;
                            cursor: pointer;
                            position: absolute;
                            height: 39.18px;
                            left: 0;
                            top: 0;

                            &:hover {
                                background-color: #2b2b2b;
                            }
                        }
                        .file-name {
                            font-size: 13px;
                            color: #D9D9D9;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                    &::placeholder{
                        color: #D9D9D9;
                        user-select: none !important;
                    }
                        }
                    }
                
                }
                button{
                    padding-inline: 25px;
                    // max-width: 110px;
                    // margin-left: auto;
                    align-self: flex-end;
                    margin-top: 5px;
                }
                .prg-mm-group-pass{
                    width: 100%;
                    position: relative;

                    .show{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;

                        svg{
                            opacity: .5;
                        }
                    }
                }
                .prg-mm-btn{
                    width: 100% !important;
                    margin-top: 10px;
                }
                .prg-mm-cta{
                    text-align: center;
                    margin-top: 1.3rem;
                    font-size: 14px;
                    color: $color-dark;
                    user-select: none;
                    a{
                        color: $color-primary;
                        
                    }
                }
                .provreg-mmcf-firstpage{
                    display: flex;
                    flex-direction: column;
                }
                .provreg-mmcf-secpage{
                    display: none;
                    flex-direction: column;

                    &__btns{
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        gap: 8px;
                    }
                }
                &--dropdowns{
                    position: relative;  
                    max-width: 600px;   
                    &--sort{
                        width: 100%;
                        padding: 7px 13px;
                        border: 1px solid $color-border;
                        font-size: 14px;
                        border-radius: 4px;
                        cursor: pointer;
                        height: 42px;
                       
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        // padding-right: 15px;
                        position: relative;
                        overflow: hidden;
                        color: #374151;
                    }
                    svg{
                        position: absolute;
                        right: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #9CA3AF;
                    }
                }
            }
        }


    }
    //1187 or 973
    @media (min-height: 1187px) {
        height: calc(100vh - 60px);
    }
}
.provider--edit{
    width: 100%;
    // height: calc(100vh - 60px);
    background-color: #F5F7FA;
    padding: 10px 15px;
    padding-bottom: 25px;
    ul{

    }
    li{
        list-style: disc;
    }
    &__main{
        width: 100%;
        // height: 30rem;
        background-color: $color-white;
        border: 1px solid $color-border-soft;
        border-radius: 2px;

        .provserv-c-head{
            width: 100%;
            height: 35px;
            background-color: #F8F6F2;
            border-bottom: 1px solid $color-border-soft;
            display: flex;
            align-items: center;
            // justify-content: center;
            padding: 0 10px;
            h4{
                font-size: 14px;
                margin: 0;
            }
        }
        .provserv-c-body{
            padding: 20px;
            &--fields{
                // margin-top: 1rem;
                .prg-mm-group{
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    max-width: 600px;
                }
                label{
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-dark;
                    margin-bottom: 4px;
                    opacity: .9;
                    user-select: none !important;

                    span{
                        color: red;
                    }
                }
                textarea{
                    resize: none;
                }
                textarea,
                input[type="text"],
                input[type="email"],
                input[type="password"],
                input[type="number"]{
                    width: 100%;
                    padding: 7px 13px;
                    border: 1px solid $color-border;
                    font-size: 14px;
                    border-radius: 4px;
                    
                    &::placeholder{
                        color: #D9D9D9;
                        user-select: none !important;
                    }
                }
                .file-field{
                    margin-bottom: 15px;
                    .file-input-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        border: 1px solid $color-border;
                        border-radius: 6px;
                        padding: 8px 10px;
                        padding-left: 110px;
                        height: 39.18px;
                        background-color: #fff;
                        position: relative;
                        overflow: hidden;

                        .file-btn {
                            background-color: #3A3A3A;
                            color: #fff;
                            border: none;
                            padding: 6px 14px;
                            // border-radius: 4px;
                            font-size: 13px;
                            margin: 0 !important;
                            cursor: pointer;
                            position: absolute;
                            height: 39.18px;
                            left: 0;
                            top: 0;

                            &:hover {
                                background-color: #2b2b2b;
                            }
                        }
                        .file-name {
                            font-size: 13px;
                            color: #D9D9D9;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                    &::placeholder{
                        color: #D9D9D9;
                        user-select: none !important;
                    }
                        }
                    }
                
                }
                button{
                    padding-inline: 25px;
                    // max-width: 110px;
                    // margin-left: auto;
                    align-self: flex-end;
                    margin-top: 5px;
                }
                .prg-mm-group-pass{
                    width: 100%;
                    position: relative;

                    .show{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;

                        svg{
                            opacity: .5;
                        }
                    }
                }
                .prg-mm-btn{
                    width: 100% !important;
                    margin-top: 10px;
                }
                .prg-mm-cta{
                    text-align: center;
                    margin-top: 1.3rem;
                    font-size: 14px;
                    color: $color-dark;
                    user-select: none;
                    a{
                        color: $color-primary;
                        
                    }
                }
                .provreg-mmcf-firstpage{
                    display: flex;
                    flex-direction: column;
                }
                .provreg-mmcf-secpage{
                    display: none;
                    flex-direction: column;

                    &__btns{
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        gap: 8px;
                    }
                }
                &--dropdowns{
                    position: relative;  
                    max-width: 600px;   
                    &--sort{
                        width: 100%;
                        padding: 7px 13px;
                        border: 1px solid $color-border;
                        font-size: 14px;
                        border-radius: 4px;
                        cursor: pointer;
                        height: 42px;
                       
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        // padding-right: 15px;
                        position: relative;
                        overflow: hidden;
                        color: #374151;
                    }
                    svg{
                        position: absolute;
                        right: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #9CA3AF;
                    }
                }
            }
        }


    }
    //1187 or 973
    @media (min-height: 1187px) {
        height: calc(100vh - 60px);
    }
}
.banner-img-crtedt--glb{
    li{
        list-style: none !important;
    }
}



// CTA Style
.global-cta{
    width: 100%;
    // height: 30rem;
    // background-color: #000000;
    padding: 1.6rem;

    &__main{
        overflow: hidden;
        max-width: 1350px;
        margin: 0 auto;
        height: 22rem;
        border-radius: 12px;
        background: linear-gradient(
            90deg,
            #FFE4AF,
            #FFEECC
        );
        

        display: flex;
        
        &--txt{
            padding: 1.5rem 3rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 55%;
            height: 100%;
            position: relative;
            z-index: 2;
            h2{
                max-width: 650px;
                line-height: 110%;
                margin-bottom: 10px;
            }
            p{
                max-width: 630px;
            }
            @media (max-width: 392px) {
                padding: 1rem 1.5rem;
            }
        }
        &--img{
            width: 45%;
            height: 100%;
            // background-color: #000000;
            position: relative;
            &__vec{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -5rem;
            }
            &__img{
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
                // right: -5rem;
                right: 8.5rem;
                z-index: 2;
                @media (max-width: 392px) {
                    width: 90%;
                    top: 20% !important;
                }
            }
        }
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            height: fit-content;
            background: linear-gradient(
                0deg,
                #fbce73,
                #FFEECC
            );
            &--txt{
                align-items:center;
                width: 100%;
                height: fit-content;
                padding-block: 4rem;
                padding-bottom: 2rem;
                h2{
                    max-width: 750px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    max-width: 690px;
                }
            }
            &--img{
                width: 100%;
                height: 21rem;
                // background-color: #000000;
                position: relative;
                &__vec{
                    left: 50%;
                    top: 0;
                    transform: translate(-50%);
                    display: none;
                }
                &__img{
                    left: 50%;
                    top: 10%;
                    transform: translate(-50%);
                    // right: -5rem;
                    right: auto;
                }
            }
        }
    
    }

}


// Filepond CDN redesign
.filepond--credits{
    display: none !important;
}
.filepond--drop-label{
    label{
        font-family: $font-primary !important;
        opacity: .5;
    }
}

.filepond--root, .filepond--drop-label{
    // height: 110px;
    // min-height: 110px !important;
}


.glb-testimonial{
    display: flex;
    margin-top: 1.8rem;
    gap: 10px;

    &__d{
        display: flex;
        align-items: flex-start;
        gap: 15px;
        img{
            width: 45px;
            height: 45px;
            border-radius: 55px;
            object-fit: cover;
            object-position: center;
            display: block;
        }
        div{

            h4{
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 5px;
                color: $color-dark;
            }
            p{
                max-width: 370px;
                line-height: 130%;
                font-size: 14px;
                font-weight: 400;
                opacity: .8;
                @media (max-width: 992px) {
                    max-width: 900px;
                }
            }
        }

    }

}




.g-padding {
    padding: 0 35px;

    @media (max-width: 992px) {
        padding: 0 20px;
    }
}

.hamburger-m {
    z-index: 998;
    position: relative;
    top: 0;
    display: inline-block;
    width: 25px;
    height: 21px;
    margin: -5px 0;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    div {
        z-index: 12;
        position: relative;
        margin-top: 9px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        &:before {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            top: -8px;
        }
        &:after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            bottom: -8px;
        }
    }
}
.hamburger-active {
    div {
        background-color: transparent;
        &:after {
            top: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:before {
            top: 1px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

.modal-mobile-nav{
	display: none;
	transform: translateY(-480px);
	width: 100%;
	margin-top: 69px;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 998;
	left: 0;
	padding-bottom: 15px !important;
	padding-top: 5px !important;
	transition: 300ms ease;
	ul{
		width: 100%;
		margin: 0;
		li{
			display: flex;
			justify-content: center;
			align-items: center;
			
			a{
				display: block;
				width: 100%;
				padding-block: 15px;
				text-decoration: none;
				font-size: 14px;
				color: $color-dark;
				border-bottom: 1px solid #DDDDDD;
				transition: 300ms ease;
				// font-family: $font-inter;

				&:hover{
					background: 
						$color-primary;
					;
					padding-left: 10px;
					color: $color-white;
				}
			}
		}
	}
	.a-mnav-m-link{
		margin-top: 1rem;
		width: 100%;
		padding: 13px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		// background-color:#ddd;
		border-radius: 66px;
		border: 1px solid #ddd;


		color: $color-dark;
		text-decoration: none;
		letter-spacing: 2%;

		// font-family: $font-inter;
		font-size: 14px;
		line-height: 100%;
		font-weight: 400 !important;
		gap: 10px;
        // background: 
        //     linear-gradient(#fff, #fff) padding-box,
        //     linear-gradient(90deg, #9BC058, #2CBE98) border-box;

        &__bg{
            background-color: $color-primary;
            border-color: $color-primary;
        }
		
        &:hover{    
            // background: 
            //     linear-gradient(#fff, #fff) padding-box,
            //     linear-gradient(90deg, #9BC058, #2CBE98) border-box;
            border: 1px solid #FFBE42;
			// color: $color-primary;
		}
	}

    @media (max-width: 992px) {
        display: block;
    }
}
.show-mmnav{
	transform: translateY(35px);
}














//
//
// For Table in Service Details Start
//
//


//
//
// For Table in Service Details End
//
//