@import "typography";
@import "colors";
.head-top{
    width: 100%;
    padding-block: 10px;
    background-color: $color-dark;


    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    a{
        color: $color-white;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        &:hover{
            color: $color-primary;
        }
    }
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;


    .header-main{
        margin: 0 auto;
        // height: 4rem;
        
        padding-block: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .h-con-links{
            display: flex;
            align-items: center;
            gap: 1.6rem;

           
            img{

            }
            &__divider{
                width: 1px;
                height: 28px;
                background-color: $color-gray;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                margin: 0;
                li{
                    a{

                        font-size: 14px;
                        color: $color-dark;
                        font-weight: 500;
                        text-decoration: none;

                        svg{
                            margin-right: 5px;
                            color: $color-primary;
                            margin-bottom: 1px;
                        }
                    }
                }
            }
        }
        .h-cta-btns{
            display: flex;
            gap: 26px;
            align-items: center;

            .login--btn{
                color: $color-dark;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: .5px;
            }
        }
    }
}