@import "typography";
@import "colors";
.head-top{
    width: 100%;
    padding-block: 10px;
    background-color: $color-dark;
    

    section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    a{
        color: $color-white;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        &:hover{
            color: $color-primary;
        }

        @media (max-width: 492px) {
            span{
                display: none;
            }
        }
    }
}
.header-desktop{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 999;

    .header-main{
        margin: 0 auto;
        // height: 4rem;
        
        padding-block: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .h-con-links{
            display: flex;
            align-items: center;
            gap: 1.6rem;

           
            img{
                width: 80px;
            }
            &__divider{
                width: 1px;
                height: 28px;
                background-color: $color-gray;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                margin: 0;
                li{
                    a{

                        font-size: 14px;
                        color: $color-dark;
                        font-weight: 500;
                        text-decoration: none;

                        svg{
                            margin-right: 5px;
                            color: $color-primary;
                            margin-bottom: 1px;
                        }

                        &:hover{
                            color: $color-primary;
                            opacity: .85;
                        }
                    }
                }
            }
        }
        .h-cta-btns{
            display: flex;
            // gap: 26px;
            align-items: center;

            .login--btn{
                color: $color-dark;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: .5px;
            }
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}
.header-mobile{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;

    margin: 0 auto;
    // height: 4rem;    
    padding-block: 14px;
    padding-inline: 1rem;

    
    display: none;
    align-items: center;
    justify-content: space-between;

    .main-mobile-menu{
        width: 240px;
        // height: 300px;
        position:absolute;
        right: 1rem;
        top: 65px;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        // padding-bottom: 0px;
        ul{
			padding: 0;
			margin: 0;
			list-style: none;
            li{
				display: block;
				padding-bottom: 11px;
				margin-bottom: 13px;
				border-bottom: 1px solid $color-gray;
                a{
                    text-decoration: none;
					z-index: 12;
					position: relative;
					font-size: 14px;
					color: $color-dark;
					transition: all 300ms ease;
					// &:hover {
					// 	text-decoration: none;
					// 	color: $color-primary;
					// }
					width: 100% !important;
                }
                &:hover{
                    border-color: $color-primary !important;
              
                }
                &:last-child{
                    border: none !important;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        // transform: translateX(300px);
        // opacity: 0;
        display: none;
        transition: ease 300ms;
    }
    .show-mob-men{
        opacity: 1;
        // transform: translateX(0px);
        display: flex;
    }

    .hamburger-menu {
        z-index: 1234;
        position: relative;
        top: 0;
        display: inline-block;
        width: 28px;
        height: 21px;
        margin: -5px 0;
        background-color: transparent !important;
        border: none;
        outline: none;
        cursor: pointer;
        div {
            z-index: 12;
            position: relative;
            margin-top: 9px;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            &:before {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-primary;
                transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                left: 0;
                top: -8px;
            }
            &:after {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-primary;
                transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                left: 0;
                bottom: -8px;
            }
        }
    }
    .hamburger-menu-active {
        div {
            background-color: transparent;
            &:after {
                top: 1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:before {
                top: 1px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }

 
    @media (max-width: 992px) {
        display: flex;
    }
}